
	#gamearea{
		width:290px;
		
		margin:auto;
	}
	#wrapper{
	}
	body{
		background:#444;
	}
	h1,h4{
		color:white;
		text-align:center;
	}
	table,tr,td{
		background:gray;
		padding:0px;
		margin:0px;
	}
	input[type=button]{
		font-size:120%;
		padding:5px 5px;
		width:140px;
		margin-left:2px;
	}
	#instructions{
		width:300px;
		background:lightgray;
		display:inline-block;
	}
	select{
		font-size:120%;
		padding:5px 5px;
		width:140px;	
	}
	#grid input[type=text]{
		width:30px;
		height:30px;
		border:none;
		text-align:center;
		font-size:150%;
		color:#444;
		autocomplete:off;
	}
	#grid .greyed{
		background:lightgray;
	}
	#grid .editable{
		color:gray;
	}
	#grid .uneditable{
		font-weight:bold;
		readonly:readonly;
	}
